@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #08251b;
    color: #0f172a;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #08251b;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #059669;
}

/* Print Styles for Epson LX & HP Printers */
@media print {
  body * {
    visibility: hidden;
  }
  #printable-stt-slip, #printable-stt-slip * {
    visibility: visible;
  }
  #printable-stt-slip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    border: 1px solid #000 !important;
    background: #fff !important;
    color: #000 !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 12pt !important;
  }
  @page {
    size: auto;
    margin: 5mm;
  }
}

